/* 
body {
    height: 100%; 
    margin: 0;
    padding: 0;
	
}
*/

/*
.base-flex-container{
    display: flex;
    flex-direction: column; 
    height: 100vh; 
    gap: 10px;
} 
*/

/* 
.nav {
    height: 10%;
} 
*/


.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
} 


/* 
.footer {
    height: 20px;
} 
*/

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 16px;
}
  